auto lo
iface lo inet loopback

auto eth0
allow-hotplug eth0
iface eth0 inet dhcp
        wpa-ssid "PhotoboothMIFI"
        wpa-psk "ca53f308"
auto wlan0
allow-hotplug wlan0
iface wlan0 inet dhcp
  wpa-ssid "{{ wifi_ssid }}"
  wpa-psk  "{{ wifi_passcode }}"
