<!DOCTYPE html>
<html lang="en" ng-app="RpiWifiConfig">
<head>
    <title>Error</title>
    <meta charset="utf-8">
    <meta http-equiv="refresh" content="2">

    <link rel="stylesheet" href="../font-awesome.css">
    <link rel="stylesheet" href="../app.css">
</head>

<body>
    <div class="error">404 Not Found :(</div>
</body>

</html>
